body {
    background: url("bg2.jpg    ");
    background-size: cover;
    color: rgb(255, 255, 255);
    font-family: "EBGaramond-VariableFont_wght.ttf";
}
@media (min-width: 993px) {
    h2 {
        left: auto; /* Reset the left value to its default */
        right: 0; /* Move the element to the right */
        transform: none; /* Reset the transform value */
    }
}
* {
    font-family: Montserrat;
}
#scrollToTopBtn {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}
/* Style the navbar */
.navbar {
    position: fixed; /* Fix the navbar to the top of the viewport */
    top: 0; /* Set the top position to 0 */
    width: 100%; /* Set the width to 100% of the viewport */
    z-index: 20; /* Set the z-index to 10 to make sure the navbar is on top of other elements */
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navbar gets a new position at the top of the page) */
.container {
    padding-top: 1px; /* Adjust this value according to the height of your navbar */
}
body {
    padding-top: 80px; /* Adjust this value according to the height of your navbar */
}
